.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.mapboxgl-control-container{
    display: none;
}

.mapboxgl-canvas{
    bottom: 0px;
    position: absolute;
}
